#

# Default ignored files
/shelf/
/workspace.xml
.idea/*
.venv/
test.ipynb
**/__pycache__

# data 
data/*/cache/

# docs
docs/~*
docs/*.tmp

# kml, много весят
data/kml/*.kml

# OSM
data/vineyard_OSM/data/osm/
data/vineyard_OSM/cache/

data/OSM_data/source_file/**
data/OSM_data/extracts_osm_py/results/**
data/OSM_data/extracts_osm_py/results_combine/*.geojson

#
!**/README.md